<section class="weiss-form__set weiss-form__set_main weiss-form__set_paper">
	<h2 class="weiss-form__set-legend weiss-form__set-legend_main">
		<span>Розділ VI. Відомості про фінансові зобов’язання</span>
	</h2>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="35" />
			<col width="400" />
			<col />
			<col width="265" />
		</colgroup>
		<caption>
			А. Фінансові зобов’язання декларанта та інші його витрати (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік фінансових зобов’язань
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
			</tr>
		</thead>
		<% data.liabilities.fields.each do |field| %>
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row weiss-table__cell_tar">
						{{ declaration.liabilities['<%= field.number %>'].sum|curformat() }}
					</div>
					{% if declaration.liabilities['<%= field.number %>'].sum_comment %}
					<div class="l-weiss-form__row">
						{{ declaration.liabilities['<%= field.number %>'].sum_comment }}
					</div>
					{% endif %}
				</td>
				<td>
					<div class="l-weiss-form__row weiss-table__cell_tar">
	                    {{ declaration.liabilities['<%= field.number %>'].sum_foreign|curformat() }}
					</div>
					{% if declaration.liabilities['<%= field.number %>'].sum_foreign_comment %}
					<div class="l-weiss-form__row">
						{{ declaration.liabilities['<%= field.number %>'].sum_foreign_comment }}
					</div>
					{% endif %}
				</td>
			</tr>
		<% end %>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
            <col width="35" />
            <col width="400" />
            <col />
            <col width="265" />
		</colgroup>
		<caption>
			Б. Фінансові зобов’язання членів сім’ї декларанта (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік фінансових зобов’язань
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
			</tr>
		</thead>
		<% data.liabilitiesB.fields.each do |field| %>
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row weiss-table__cell_tar">
						{{ declaration.liabilities['<%= field.number %>'].sum|curformat() }}
					</div>
					{% if declaration.liabilities['<%= field.number %>'].sum_comment %}
					<div class="l-weiss-form__row">
						{{ declaration.liabilities['<%= field.number %>'].sum_comment }}
					</div>
					{% endif %}
				</td>
				<td>
					<div class="l-weiss-form__row weiss-table__cell_tar">
						{{ declaration.liabilities['<%= field.number %>'].sum_foreign|curformat() }}
					</div>
					{% if declaration.liabilities['<%= field.number %>'].sum_foreign_comment %}
					<div class="l-weiss-form__row">
						{{ declaration.liabilities['<%= field.number %>'].sum_foreign_comment }}
					</div>
					{% endif %}
				</td>
			</tr>
		<% end %>
	</table>
</section>