<section class="form__set form__set_main form__set_paper">
	<h2 class="form__set-legend form__set-legend_main">
		<span>Розділ II. Відомості про доходи</span>
	</h2>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="35" />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<caption>
			А. Одержані (нараховані) з усіх джерел України
		</caption>
		<tfoot>
			<tr>
				<td colspan="4">
					(назва закладу, установи тощо, в яких одержано (нараховано) зазначені у цій позиції доходи)
				</td>
			</tr>
		</tfoot>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік доходів
				</th>
				<th colspan="2">
					Сума одержаного (нарахованого) доходу
				</th>
			</tr>
			<tr>
				<th>
					декларанта
				</th>
				<th>
					членів сім’ї
				</th>
			</tr>
		</thead>
		<% data.incomeA.fields.each_with_index do |field, index| %>
			<% formid = field.number %>
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].value }}
					</div>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].comment }}
					</div>
				</td>
				<td>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].family }}
					</div>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].family_comment }}
					</div>
				</td>
			</tr>
		<% end %>
		<tr>
			<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
				&nbsp;
			</td>
			<td colspan="3" class="weiss-table__cell_unspaced">
				{{ declaration.income['7'].source_name }}
			</td>
		</tr>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<% data.income.fields.each do |field| %>
			<% formid = field.number %>
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].value }}
					</div>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].comment }}
					</div>
				</td>
				<td>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].family }}
					</div>
					<div class="l-form__row">
						{{ declaration.income['<%= formid %>'].family_comment }}
					</div>
				</td>
			</tr>
		<% end %>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<caption>
			Б. Одержані (нараховані) з джерел за межами України декларантом
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Назва країни
				</th>
				<th colspan="2">
					Розмір доходу
				</th>
			</tr>
			<tr>
				<th>
					в іноземній валюті
				</th>
				<th>
					перерахованого у гривні
				</th>
			</tr>
		</thead>
		<tbody>
            {% for income in declaration.income['22'] if income.cur != "0" or income.cur != "0" %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					21.
				</td>
				<td class="weiss-table__cell_fwn">
					<div class="l-form__row">
						{{ income.country }}
					</div>
					{% if income.country_comment %}
					<div class="l-form__row">
						{{ income.country_comment }}
					</div>
					{% endif %}
				</td>
				<td>
					<div class="l-form__row">
						{{ income.cur }} {{ income.cur_units|default('') }}
					</div>
				</td>
				<td>
					<div class="l-form__row">
						{{ income.uah_equal }}
					</div>
				</td>
			</tr>
			{% else %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					21.
				</td>
				<td class="weiss-table__cell_fwn">
					<div class="l-form__row">
						&ndash;
					</div>
				</td>
				<td>
					<div class="l-form__row">
						0
					</div>
				</td>
				<td>
					<div class="l-form__row">
						0
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<caption>
			В. Одержані (нараховані) з джерел за межами України членами сім’ї декларанта
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Назва країни
				</th>
				<th colspan="2">
					Розмір доходу
				</th>
			</tr>
			<tr>
				<th>
					в іноземній валюті
				</th>
				<th>
					перерахованого у гривні
				</th>
			</tr>
		</thead>
		<tbody>
            {% for income in declaration.income['22'] if income.cur != "0" or income.cur != "0" %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					22.
				</td>
				<td class="weiss-table__cell_fwn">
					<div class="l-form__row">
						{{ income.country }}
					</div>
					{% if income.country_comment %}
					<div class="l-form__row">
						{{ income.country_comment }}
					</div>
					{% endif %}
				</td>
				<td>
					<div class="l-form__row">
						{{ income.cur }} {{ income.cur_units|default('') }}
					</div>
				</td>
				<td>
					<div class="l-form__row">
						{{ income.uah_equal }}
					</div>
				</td>
			</tr>
			{% else %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					22.
				</td>
				<td class="weiss-table__cell_fwn">
					<div class="l-form__row">
						&ndash;
					</div>
				</td>
				<td>
					<div class="l-form__row">
						0
					</div>
				</td>
				<td>
					<div class="l-form__row">
						0
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>