<section class="weiss-form__set weiss-form__set_main weiss-form__set_paper">
	<h2 class="weiss-form__set-legend weiss-form__set-legend_main">
		<span>Розділ V. Відомості про вклади у банках, цінні папери та інші активи</span>
	</h2>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="35" />
			<col width="400"  />
			<col />
			<col width="265" />
		</colgroup>
		<caption>
			А. Вклади у банках, цінні папери та інші активи, що перебувають у власності декларанта (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
			</tr>
		</thead>
		<% data.banks.fields.each_with_index do |field, index| %>
		<tbody>
			{% for banks in declaration.banks['<%= field.number %>'] if banks.sum != "0" and banks.sum %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<span>
						<%= field.number %>.
					</span>
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency',
							:content => '{{ banks.sum_units }}{{ banks.sum|curformat() }}'
						}) %>
					</div>
					{% if banks.sum_comment %}
					<div class="l-weiss-form__row">
						{{ banks.sum_comment }}
					</div>
					{% endif %}
				</td>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency',
							:content => '{{ banks.sum_foreign_units }}{{ banks.sum_foreign|curformat() }}'
						}) %>
					</div>
					{% if banks.sum_foreign_comment %}
					<div class="l-weiss-form__row">
						{{ banks.sum_foreign_comment }}
					</div>
					{% endif %}
				</td>
			</tr>
			{% else %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<span>
						<%= field.number %>.
					</span>
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency'
						}) %>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency'
						}) %>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<% end %>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="35" />
			<col width="400" />
			<col />
			<col width="265" />
		</colgroup>
		<caption>
			Б. Вклади у банках, цінні папери та інші активи, що перебувають у власності членів сім’ї декларанта (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
			</tr>
		</thead>
		<% data.banksB.fields.each_with_index do |field, index| %>
		<tbody>
			{% for banks in declaration.banks['<%= field.number %>'] if banks.sum != "0" and banks.sum %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency',
							:content => '{{ banks.sum_units }}{{ banks.sum|curformat() }}'
						}) %>
					</div>
					{% if banks.sum_comment %}
					<div class="l-weiss-form__row">
						{{ banks.sum_comment }}
					</div>
					{% endif %}
				</td>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency',
							:content => '{{ banks.sum_foreign_units }}{{ banks.sum_foreign|curformat() }}'
						}) %>
					</div>
					{% if banks.sum_foreign_comment %}
					<div class="l-weiss-form__row">
						{{ banks.sum_foreign_comment }}
					</div>
					{% endif %}
				</td>
			</tr>
			{% else %}
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency',
						}) %>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<%= partial("partials/blocks/block_digit", :locals => {
							:type => 'currency',
						}) %>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<% end %>
	</table>
</section>