	<div id="section-0">
		<h1 class="declaration-head">
			<strong class="declaration-head__em">Декларація</strong>
			про майно, доходи, витрати і зобов’язання фінансового характеру за {{ declaration.intro.declaration_year }} рік
		</h1>
		<%= partial "partials/sections/set__general_jinja" %>
		<%= partial "partials/sections/set__income_jinja" %>
	</div>
	<div id="section-1">
		<%= partial "partials/sections/set__estate_jinja"  %>
	</div>
	<div id="section-2">
		<%= partial "partials/sections/set__vehicle_jinja"  %>
	</div>
	<div id="section-3">
		<%= partial "partials/sections/set__banks_jinja"  %>
 		</div>
	<div id="section-4">
		<%= partial "partials/sections/set__liabilities_jinja"  %>
		<%= partial "partials/sections/set__outro_jinja"  %>
 	</div>