
<fieldset class="weiss-form__set weiss-form__set_main weiss-form__set_paper">
	<legend class="weiss-form__set-legend weiss-form__set-legend_main">
		<span>Розділ VI. Відомості про фінансові зобов’язання</span>
	</legend>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="35" />
			<col />
			<col />
			<col />
		</colgroup>
		<caption>
			А. Фінансові зобов’язання декларанта та інші його витрати (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік фінансових зобов’язань
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
			</tr>
		</thead>
		<% data.liabilities.fields.each_with_index do |field, index| %>
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="liabilities__<%= field.number %>__sum" name="liabilities[<%= field.number %>][sum]" placeholder="Сума" data-inp-act="hidden,unclear" />
                        <% if (index == 0) %>
                            <p class="declaration-small-note">Суми з копійками треба <br/> вводити через кому, <br/>наприклад: 10000,27</p>
                        <% end %>
					</div>
					<div class="l-weiss-form__row">
						<textarea class="js-is-nocurrency" id="liabilities__<%= field.number %>__sum_comment" name="liabilities[<%= field.number %>][sum_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="liabilities__<%= field.number %>__sum_foreign" name="liabilities[<%= field.number %>][sum_foreign]" placeholder="Сума за кордоном" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<textarea class="js-is-nocurrency" id="liabilities__<%= field.number %>__sum_foreign_comment" name="liabilities[<%= field.number %>][sum_foreign_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
			</tr>
		<% end %>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col width="35" />
			<col />
			<col />
			<col />
		</colgroup>
		<caption>
			Б. Фінансові зобов’язання членів сім’ї декларанта (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік фінансових зобов’язань
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
			</tr>
		</thead>
		<% data.liabilitiesB.fields.each do |field| %>
			<tr>
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="liabilities__<%= field.number %>__sum" name="liabilities[<%= field.number %>][sum]" placeholder="Сума" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<textarea class="js-is-nocurrency" id="liabilities__<%= field.number %>__sum_comment" name="liabilities[<%= field.number %>][sum_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="liabilities__<%= field.number %>__sum_foreign" name="liabilities[<%= field.number %>][sum_foreign]" placeholder="Сума за кордоном" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<textarea class="js-is-nocurrency" id="liabilities__<%= field.number %>__sum_foreign_comment" name="liabilities[<%= field.number %>][sum_foreign_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
			</tr>
		<% end %>
	</table>

</fieldset>

