<fieldset class="form__set form__set_main form__set_paper">
	<legend class="form__set-legend form__set-legend_main">
		<span>Розділ II. Відомості про доходи</span>
	</legend>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<caption>
			А. Одержані (нараховані) з усіх джерел України
		</caption>
		<tfoot>
			<tr>
				<td colspan="4">
					(назва закладу, установи тощо, в яких одержано (нараховано) зазначені у цій позиції доходи)
				</td>
			</tr>
		</tfoot>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік доходів
				</th>
				<th colspan="2">
					Сума одержаного (нарахованого) доходу
				</th>
			</tr>
			<tr>
				<th>
					декларанта
				</th>
				<th>
					членів сім’ї
				</th>
			</tr>
		</thead>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				5.
			</td>
			<th class="table__cell_fwn">
				Загальна сума сукупного доходу, гривні, у т.ч.
			</th>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__5_gr" name="income__summaru_gr" placeholder="Сума доходу декларанта" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__5_gr_comment" name="income__summaru_gr_comment" placeholder="Коментар" />
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__5_val_family" name="income__5_val_family" placeholder="Сума доходу сім’ї" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__5_val_family_comment" name="income__5_val_family_comment" placeholder="Коментар" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				6.
			</td>
			<th class="table__cell_fwn">
				Заробітна плата, інші виплати та винагороди, нараховані
				(виплачені) декларанту відповідно до умов трудового
				або цивільно-правового договору <em>(крім виплат,
				зазначених у позиціях 7, 8)</em>
			</th>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__6_gr" name="income__6_gr" placeholder="Сума доходу декларанта" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__6_gr_comment" name="income__6_gr_comment" placeholder="Коментар" />
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__6_val_family" name="income__6_val_family" placeholder="Сума доходу сім’ї" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__6_val_family_comment" name="income__6_val_family_comment" placeholder="Коментар" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				7.
			</td>
			<th class="table__cell_fwn">
				Дохід від викладацької, наукової і творчої діяльності, медичної практики, інструкторіської та суддівської практики із спорту
			</th>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__7_gr" name="income__7_gr" placeholder="Сума доходу декларанта" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__7_gr_comment" name="income__7_gr_comment" placeholder="Коментар" />
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__7_val" name="income__7_val" placeholder="Сума доходу сім’ї" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__7_val_comment" name="income__7_val_comment" placeholder="Коментар" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				&nbsp;
			</td>
			<td colspan="3" class="table__cell_unspaced">
				<textarea name="Назва навчального закладу" id="" rows="3"></textarea>
			</td>
		</tr>
	</table>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<% data.income.fields.each do |field| %>
			<tr>
				<td class="table__cell_bd-r table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-form__row">
						<input type="text" id="income__<%= field.number %>_gr" name="income__<%= field.number %>_gr" placeholder="Сума доходу декларанта" />
					</div>
					<div class="l-form__row">
						<input type="text" id="income__<%= field.number %>_gr_comment" name="income__7_gr_comment" placeholder="Коментар" />
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<input type="text" id="income__<%= field.number %>_val" name="income__<%= field.number %>_val" placeholder="Сума доходу сім’ї" />
					</div>
					<div class="l-form__row">
						<input type="text" id="income__<%= field.number %>_val_comment" name="income__<%= field.number %>_val_comment" placeholder="Коментар" />
					</div>
				</td>
			</tr>
		<% end %>
	</table>

	<table class="table js-clone-wrapper">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
			<col width="30" />
		</colgroup>
		<caption>
			Б. Одержані (нараховані) з джерел за межами України декларантом
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Назва країни
				</th>
				<th colspan="2">
					Розмір доходу
				</th>
				<th colspan="2" class="table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					в іноземній валюті
				</th>
				<th>
					перерахованого у гривні
				</th>
			</tr>
		</thead>
		<tr class="js-toclone">
			<td class="table__cell_bd-r table__psdo-th">
				<span class="js-clone-ignore">
					21.
				</span>
			</td>
			<th class="table__cell_fwn">
				<div class="l-form__row">
					<input type="text" id="income__outukraine__country" name="income__outukraine__country" placeholder="Назва країни" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__outukraine__country_comment" name="income__outukraine__country_comment" placeholder="Коментар" />
				</div>
			</th>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__outukraine__val" name="income__outukraine__val" placeholder="Доход в іноземній валюті" />
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__outukraine__val_gr-equal" name="income__outukraine__val_gr-equal" placeholder="Перерахування в гривню" />
				</div>
			</td>
			<td class="table__cell_bd-l">
				<span class="btn btn_small btn_fullwidth btn_grey js-clone" title="Добавити строку">+</span>
				<span class="btn btn_small btn_fullwidth btn_grey js-clone-delete" title="Видалити строку">-</span>
			</td>
		</tr>
	</table>

	<table class="table js-clone-wrapper">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
			<col width="30" />
		</colgroup>
		<caption>
			В. Одержані (нараховані) з джерел за межами України членами сім’ї декларанта
		</caption>
		<thead>
		<tr>
			<th rowspan="2" class="table__cell_bd-r">
				<span class="i-wai">
					№
				</span>
			</th>
			<th rowspan="2">
				Назва країни
			</th>
			<th colspan="2">
				Розмір доходу
			</th>
			<th colspan="2" class="table__cell_bd-l">
				&nbsp;
			</th>
		</tr>
		<tr>
			<th>
				в іноземній валюті
			</th>
			<th>
				перерахованого у гривні
			</th>
		</tr>
		</thead>
		<tr class="js-toclone">
			<td class="table__cell_bd-r table__psdo-th">
				<span class="js-clone-ignore">
					22.
				</span>
			</td>
			<th class="table__cell_fwn">
				<div class="l-form__row">
					<input type="text" id="income__outukraine_family__country" name="income__outukraine_family__country" placeholder="Назва країни" />
				</div>
				<div class="l-form__row">
					<input type="text" id="income__outukraine_family__country_comment" name="income__outukraine_family__country_comment" placeholder="Коментар" />
				</div>
			</th>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__outukraine_family__val" name="income__outukraine_family__val" placeholder="Доход в іноземній валюті" />
				</div>
			</td>
			<td>
				<div class="l-form__row">
					<input type="text" id="income__outukraine_family__val_gr-equal" name="income__outukraine_family__val_gr-equal" placeholder="Перерахування в гривню" />
				</div>
			</td>
			<td class="table__cell_bd-l">
				<span class="btn btn_small btn_fullwidth btn_grey js-clone" title="Добавити строку">+</span>
				<span class="btn btn_small btn_fullwidth btn_grey js-clone-delete" title="Видалити строку">-</span>
			</td>
		</tr>
	</table>


</fieldset>

