<fieldset class="form__set form__set_main form__set_paper">
	<legend class="form__set-legend form__set-legend_main">
		<span>Розділ II. Відомості про доходи</span>
	</legend>

	<table class="table">
		<colgroup>
			<col />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<caption>
			А. Одержані (нараховані) з усіх джерел України
		</caption>
		<tfoot>
			<tr>
				<td colspan="4">
					(назва закладу, установи тощо, в яких одержано (нараховано) зазначені у цій позиції доходи)
				</td>
			</tr>
		</tfoot>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік доходів
				</th>
				<th colspan="2">
					Сума одержаного (нарахованого) доходу
				</th>
			</tr>
			<tr>
				<th>
					декларанта
				</th>
				<th>
					членів сім’ї
				</th>
			</tr>
		</thead>
		<% data.incomeA.fields.each_with_index do |field, index| %>
			<% formid = field.number %>
			<tr>
				<td class="table__cell_bd-r table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__<%= formid %>" name="income[<%= formid %>][value]" placeholder="Сума доходу декларанта" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<textarea id="income__<%= formid %>_comment" name="income[<%= formid %>][comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
						<% if (index == 0) %>
							<p class="l-form__item small-note">Ви можите збільшити це поле потягнувши за правий нижній кут.</p>
						<% end %>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__<%= formid %>_family" name="income[<%= formid %>][family]" placeholder="Сума доходу сім’ї" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<textarea id="income__<%= formid %>_family_comment" name="income[<%= formid %>][family_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
						<% if (index == 0) %>
							<p class="l-form__item small-note">Ви можите збільшити це поле потягнувши за правий нижній кут.</p>
						<% end %>
					</div>
				</td>
			</tr>
		<% end %>
		<tr>
			<td class="table__cell_bd-r table__psdo-th">
				&nbsp;
			</td>
			<td colspan="3" class="table__cell_unspaced">
				<textarea class="form__textarea form__textarea_lined" name="income[7][source_name]" id="income__7__source-name" rows="3" data-inp-act="hidden,unclear"></textarea>
			</td>
		</tr>
	</table>

	<table class="table">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
		</colgroup>
		<% data.income.fields.each do |field| %>
			<% formid = field.number %>
			<tr>
				<td class="table__cell_bd-r table__psdo-th">
					<%= field.number %>.
				</td>
				<th class="table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__<%= formid %>" name="income[<%= formid %>][value]" placeholder="Сума доходу декларанта" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<textarea id="income__<%= formid %>_comment" name="income[<%= formid %>][comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__<%= formid %>_family" name="income[<%= formid %>][family]" placeholder="Сума доходу сім’ї" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<textarea id="income__<%= formid %>_family_comment" name="income[<%= formid %>][family_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
			</tr>
		<% end %>
	</table>

	<table class="table">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
			<col width="30" />
		</colgroup>
		<caption>
			Б. Одержані (нараховані) з джерел за межами України декларантом
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Назва країни
				</th>
				<th colspan="2">
					Розмір доходу
				</th>
				<th colspan="2" class="table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					в іноземній валюті
				</th>
				<th>
					перерахованого у гривні
				</th>
			</tr>
		</thead>
		<tbody class="js-clone-wrapper">
			<tr class="js-toclone">
				<td class="table__cell_bd-r table__psdo-th">
					<span class="js-clone-ignore">
						21.
					</span>
				</td>
				<td class="table__cell_fwn">
					<div class="l-form__row">
						<input type="text" id="income__21__country" name="income[21][][country]" placeholder="Назва країни" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<textarea id="income__21__country_comment" name="income[21][][country_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__21__cur" name="income[21][][cur]" placeholder="Доход в іноземній валюті" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<select id="income__21__cur_units" name="income[21][][cur_units]" data-inp-act="hidden,unclear">
							<option value="usd">долл.</option>
							<option value="eur">евро</option>
							<option value="gbp">фунти стерлінгів</option>
							<option value="other">інша</option>
						</select>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__21__gr-equal" name="income[21][][uah_equal]" placeholder="Перерахування в гривню" data-inp-act="hidden,unclear" />
					</div>
				</td>
				<td class="table__cell_bd-l">
					<%= partial("partials/blocks/block_clone", :locals => {:width => 'btn_fullwidth'}) %>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table">
		<colgroup>
			<col width="20" />
			<col />
			<col width="200" />
			<col width="200" />
			<col width="30" />
		</colgroup>
		<caption>
			В. Одержані (нараховані) з джерел за межами України членами сім’ї декларанта
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Назва країни
				</th>
				<th colspan="2">
					Розмір доходу
				</th>
				<th colspan="2" class="table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					в іноземній валюті
				</th>
				<th>
					перерахованого у гривні
				</th>
			</tr>
		</thead>
		<tbody class="js-clone-wrapper">
			<tr class="js-toclone">
				<td class="table__cell_bd-r table__psdo-th">
					<span class="js-clone-ignore">
						22.
					</span>
				</td>
				<td class="table__cell_fwn">
					<div class="l-form__row">
						<input type="text" id="income__22_family__country" name="income[22][][country]" placeholder="Назва країни" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<textarea id="income__22_family__country_comment" name="income[22][][country_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__22_family__cur" name="income[22][][cur]" placeholder="Доход в іноземній валюті" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form__row">
						<select id="income__22_family__cur_units" name="income[22][][cur_units]" data-inp-act="hidden,unclear">
							<option value="usd">долл.</option>
							<option value="eur">евро</option>
							<option value="gbp">фунти стерлінгів</option>
							<option value="other">інша</option>
						</select>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<input class="js-is-DigitsOnly" type="text" id="income__22_family__gr-equal" name="income[22][][uah_equal]" placeholder="Перерахування в гривню" data-inp-act="hidden,unclear" />
					</div>
				</td>
				<td class="table__cell_bd-l">
					<%= partial("partials/blocks/block_clone", :locals => {:width => 'btn_fullwidth'}) %>
				</td>
			</tr>
		</tbody>
	</table>


</fieldset>

