
<fieldset class="form__set form__set_main form__set_paper">
	<legend class="form__set-legend form__set-legend_main">
		<span>Розділ V. Відомості про вклади у банках, цінні папери та інші активи</span>
	</legend>

	<table class="table js-clone-wrapper">
		<colgroup>
			<col />
			<col width="200"  />
			<col />
			<col width="265" />
			<col width="30" />
		</colgroup>
		<caption>
			А. Вклади у банках, цінні папери та інші активи, що перебувають у власності декларанта (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
				<th class="table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
		</thead>
		<% data.banks.fields.each do |field| %>
			<tr class="js-toclone">
				<td class="table__cell_bd-r table__psdo-th">
					<span class="js-clone-ignore">
						<%= field.number %>.
					</span>
				</td>
				<th class="table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-form__row">
						<div class="l-form__item l-form__item_w-p50">
							<input type="text" id="banks__<%= field.number %>__sum" name="banks__<%= field.number %>__sum" placeholder="Сума" />
							<p class="small-note js-clone-ignore">
								Якщо вказано декілька сум через кому або знак &laquo;+&raquo;, вони вводяться окремо.
							</p>
						</div>
						<div class="l-form__item l-form__item_w-p50">
							<select name="banks__<%= field.number %>__sum_units" id="banks__<%= field.number %>__sum_units">
								<option value="">грн.</option>
								<option value="">долл.</option>
								<option value="">евро</option>
								<option value="">інша</option>
							</select>
							<p class="small-note js-clone-ignore">
								Якщо валюта не вказана, рахуємо, що це гривні. <br/>
								Якщо вказана сума в валюті, і тут же вказано перерахування у гривні, вводимо тільки суму у валюті.
							</p>
						</div>
					</div>
					<div class="l-form__row">
						<div class="l-form__item">
							<input type="text" id="banks__<%= field.number %>__sum_comment" name="banks__<%= field.number %>__sum_comment" placeholder="Коментар" />
						</div>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<div class="l-form__item l-form__item_w-p50">
							<input type="text" id="banks__<%= field.number %>__sum_forign" name="banks__<%= field.number %>__sum_forign" placeholder="Сума за кордоном" />
						</div>
						<div class="l-form__item l-form__item_w-p50">
							<select name="banks__<%= field.number %>__sum_forign_units" id="banks__<%= field.number %>__sum_forign_units">
								<option value="">грн.</option>
								<option value="">долл.</option>
								<option value="">евро</option>
								<option value="">інша</option>
							</select>
						</div>
					</div>
					<div class="l-form__row">
						<div class="l-form__item">
							<input type="text" id="banks__<%= field.number %>__sum_forign_comment" name="banks__<%= field.number %>__sum_forign_comment" placeholder="Коментар" />
						</div>
					</div>
				</td>
				<td class="table__cell_bd-l">
					<span class="btn btn_small btn_fullwidth btn_grey js-clone" title="Добавити строку">+</span>
					<span class="btn btn_small btn_fullwidth btn_grey js-clone-delete" title="Видалити строку">-</span>
				</td>
			</tr>
		<% end %>
	</table>

	<table class="table">
		<colgroup>
			<col />
			<col width="200"  />
			<col />
			<col width="265" />
			<col width="30" />
		</colgroup>
		<caption>
			Б. Вклади у банках, цінні папери та інші активи, що перебувають у власності членів сім’ї декларанта (грн)
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th>
					Перелік
				</th>
				<th>
					Усього
				</th>
				<th>
					у тому числі за кордоном
				</th>
				<th class="table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
		</thead>
		<% data.banksB.fields.each do |field| %>
			<tr class="js-toclone">
				<td class="table__cell_bd-r table__psdo-th">
					<span class="js-clone-ignore">
						<%= field.number %>.
					</span>
				</td>
				<th class="table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-form__row">
						<div class="l-form__item l-form__item_w-p50">
							<input type="text" id="banks__<%= field.number %>__sum" name="banks__<%= field.number %>__sum" placeholder="Сума" />
							<p class="small-note js-clone-ignore">
								Якщо вказано декілька сум через кому або знак &laquo;+&raquo;, вони вводяться окремо.
							</p>
						</div>
						<div class="l-form__item l-form__item_w-p50">
							<select name="banks__<%= field.number %>__sum_units" id="banks__<%= field.number %>__sum_units">
								<option value="">грн.</option>
								<option value="">долл.</option>
								<option value="">евро</option>
								<option value="">інша</option>
							</select>
							<p class="small-note js-clone-ignore">
								Якщо валюта не вказана, рахуємо, що це гривні. <br/>
								Якщо вказана сума в валюті, і тут же вказано перерахування у гривні, вводимо тільки суму у валюті.
							</p>
						</div>
					</div>
					<div class="l-form__row">
						<div class="l-form__item">
							<input type="text" id="banks__<%= field.number %>__sum_comment" name="banks__<%= field.number %>__sum_comment" placeholder="Коментар" />
						</div>
					</div>
				</td>
				<td>
					<div class="l-form__row">
						<div class="l-form__item l-form__item_w-p50">
							<input type="text" id="banks__<%= field.number %>__sum_forign" name="banks__<%= field.number %>__sum_forign" placeholder="Сума за кордоном" />
						</div>
						<div class="l-form__item l-form__item_w-p50">
							<select name="banks__<%= field.number %>__sum_forign_units" id="banks__<%= field.number %>__sum_forign_units">
								<option value="">грн.</option>
								<option value="">долл.</option>
								<option value="">евро</option>
								<option value="">інша</option>
							</select>
						</div>
					</div>
					<div class="l-form__row">
						<div class="l-form__item">
							<input type="text" id="banks__<%= field.number %>__sum_forign_comment" name="banks__<%= field.number %>__sum_forign_comment" placeholder="Коментар" />
						</div>
					</div>
				</td>
				<td class="table__cell_bd-l">
					<span class="btn btn_small btn_fullwidth btn_grey js-clone" title="Добавити строку">+</span>
					<span class="btn btn_small btn_fullwidth btn_grey js-clone-delete" title="Видалити строку">-</span>
				</td>
			</tr>
		<% end %>

	</table>


</fieldset>

