
<fieldset class="weiss-form__set weiss-form__set_main weiss-form__set_paper">
	<legend class="weiss-form__set-legend weiss-form__set-legend_main">
		<span>Розділ IV. Відомості про транспортні засоби</span>
	</legend>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col />
			<col />
			<col />
			<col width="120" />
			<col width="150" />
			<col width="150" />
			<col width="30" />
		</colgroup>
		<caption>
			А. Транспортні засоби, що перебувають у властності, в оренді чи на іншому праві користування декларанта
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік транспортних засобів
				</th>
				<th rowspan="2">
					Марка/модель (об’єм циліндрів двигуна, куб. см, потужність двигуна, кВт, довжина, см)
				</th>
				<th rowspan="2">
					Рік випуску
				</th>
				<th colspan="2">
					Сума витрат (грн) на
				</th>
				<th class="weiss-table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					придбання у власність
				</th>
				<th>
					оренду чи на інше право користування
				</th>
			</tr>
		</thead>
		<% data.vehicle.fields.each_with_index do |field, index| %>
		<tbody class="js-clone-wrapper">
			<tr class="js-toclone">
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<span class="js-clone-ignore">
						<%= field.number %>.
					</span>
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<input type="text" id="vehicle__<%= field.number %>__brand" name="vehicle[<%= field.number %>][][brand]" placeholder="Марка" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<input type="text" id="vehicle__<%= field.number %>__brand_info" name="vehicle[<%= field.number %>][][brand_info]" placeholder="Інша інформація про модель" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<% if (index == 0) %>
						<p class="declaration-small-note js-clone-ignore">
							Іностранні марки записуйте латиницею
						</p>
					<% end %>
				</td>
				<td>
					<select id="vehicle__<%= field.number %>__year" name="vehicle[<%= field.number %>][][year]" data-inp-act="hidden,unclear">
						<option value="nodata">Рік випуску</option>
						<% (2015).downto(1880) do |i| %>
						<option value=<%= "#{i}" %>><%= "#{i}" %></option>
						<% end %>
					</select>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="vehicle__<%= field.number %>__sum" name="vehicle[<%= field.number %>][][sum]" placeholder="Сума витрат" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<textarea id="vehicle__<%= field.number %>__sum_comment" name="vehicle[<%= field.number %>][][sum_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="vehicle__<%= field.number %>__sum_rent" name="vehicle[<%= field.number %>][][sum_rent]" placeholder="Сума витрат оренда" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<textarea id="vehicle__<%= field.number %>__sum_rent_comment" name="vehicle[<%= field.number %>][][sum_rent_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td class="weiss-table__cell_bd-l">
					<%= partial("partials/blocks/block_clone", :locals => {:width => 'weiss-btn_fullwidth'}) %>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col />
			<col />
			<col />
			<col width="120" />
			<col width="150" />
			<col width="150" />
			<col width="30" />
		</colgroup>
		<caption>
			Б. Транспортні засоби, що перебувають у власності, в оренді чи на іншому праві користування членів сім’ї декларанта
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік транспортних засобів
				</th>
				<th rowspan="2">
					Марка/модель (об’єм циліндрів двигуна, куб. см, потужність двигуна, кВт, довжина, см)
				</th>
				<th rowspan="2">
					Рік випуску
				</th>
				<th colspan="2">
					Сума витрат (грн) на
				</th>
				<th class="weiss-table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					придбання у власність
				</th>
				<th>
					оренду чи на інше право користування
				</th>
			</tr>
		</thead>
		<% data.vehicleB.fields.each_with_index do |field, index| %>
		<tbody class="js-clone-wrapper">
			<tr class="js-toclone">
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<span class="js-clone-ignore">
						<%= field.number %>.
					</span>
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<input type="text" id="vehicle__<%= field.number %>__brand" name="vehicle[<%= field.number %>][][brand]" placeholder="Марка" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<input type="text" id="vehicle__<%= field.number %>__brand_info" name="vehicle[<%= field.number %>][][brand_info]" placeholder="Інша інформація про модель" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<% if (index == 0) %>
						<p class="declaration-small-note js-clone-ignore">
							Іностранні марки записуйте латиницею
						</p>
					<% end %>
				</td>
				<td>
					<select id="vehicle__<%= field.number %>__year" name="vehicle[<%= field.number %>][][year]" data-inp-act="hidden,unclear">
						<option value="nodata">Рік випуску</option>
						<% (2015).downto(1880) do |i| %>
						<option value=<%= "#{i}" %>><%= "#{i}" %></option>
						<% end %>
					</select>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="vehicle__<%= field.number %>__sum" name="vehicle[<%= field.number %>][][sum]" placeholder="Сума витрат" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<textarea id="vehicle__<%= field.number %>__sum_comment" name="vehicle[<%= field.number %>][][sum_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="vehicle__<%= field.number %>__sum_rent" name="vehicle[<%= field.number %>][][sum_rent]" placeholder="Сума витрат оренда" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<textarea id="vehicle__<%= field.number %>__sum_rent_comment" name="vehicle[<%= field.number %>][][sum_rent_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td class="weiss-table__cell_bd-l">
					<%= partial("partials/blocks/block_clone", :locals => {:width => 'weiss-btn_fullwidth'}) %>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>

</fieldset>

