
<fieldset class="weiss-form__set weiss-form__set_main weiss-form__set_paper">
	<legend class="weiss-form__set-legend weiss-form__set-legend_main">
		<span>Розділ I. Загальні відомості</span>
	</legend>

	<fieldset class="l-weiss-form__row">
		<legend class="l-weiss-form__item weiss-form__label">
			<span>1.</span>
		</legend>
		<div class="l-weiss-form__item l-weiss-form__item_lined">
			<label for="general__last-name" class="i-wai">Прізвище</label>
			<input class="js-is-lastnameonly" type="text" id="general__last-name" name="general[last_name]" placeholder="Прізвище" required="" minlength="2" data-inp-act="hidden,unclear" />
		</div>
		<div class="l-weiss-form__item l-weiss-form__item_lined">
			<label for="general__name" class="i-wai">Ім’я</label>
			<input class="js-is-lastnameonly" type="text" id="general__name" name="general[name]" placeholder="Ім’я" required="" minlength="2" data-inp-act="hidden,unclear" />
		</div>
		<div class="l-weiss-form__item l-weiss-form__item_lined">
			<label for="general__patronymic" class="i-wai">По батькові</label>
			<input class="js-is-lastnameonly" type="text" id="general__patronymic" name="general[patronymic]" placeholder="По батькові" required="" minlength="2" data-inp-act="hidden,unclear" />
		</div>
		<div class="l-weiss-form__item l-weiss-form__item_lined">
			<label for="general__inn" class="i-wai">ІНН</label>
			<input class="js-is-strictDigitsOnly" type="text" id="general__inn" name="general[inn]" placeholder="ІНН" minlength="10" maxlength="10" data-inp-act="hidden,unclear" />
		</div>
	</fieldset>

	<fieldset class="l-weiss-form__row">
		<legend class="l-weiss-form__item weiss-form__label">
			<span>2. Місце проживання</span>
		</legend>
		<div class="js-clone-wrapper">
			<div class="l-weiss-form__item js-toclone">
				<div class="l-weiss-form__item l-weiss-form__item_lined">
					<label for="general__place" class="i-wai">Область</label>
					<select id="general__place" name="general[addresses][][place]" data-inp-act="hidden,unclear">
						<option value="unspecified" selected="" disabled="">Область</option>
						<option value="nodata">Немає данних</option>
						<% data.regions.region.each do |option| %>
							<option value="<%= option.value %>"><%= option.name %></option>
						<% end %>
					</select>
				</div>
				<div class="l-weiss-form__item l-weiss-form__item_lined">
					<label for="general__place_district" class="i-wai">Район</label>
					<input type="text" id="general__place_district" name="general[addresses][][place_district]" placeholder="Район" minlength="2" data-inp-act="hidden,unclear" />
				</div>
				<div class="l-weiss-form__item l-weiss-form__item_lined">
					<label for="general__place_city" class="i-wai">Населений пункт</label>
					<input type="text" id="general__place_city" name="general[addresses][][place_city]" placeholder="Населений пункт" minlength="2" data-inp-act="hidden,unclear" />
				</div>
				<div class="l-weiss-form__item l-weiss-form__item_lined">
					<label for="general__place_city_type" class="i-wai">Тип населенного пункту</label>
					<select id="general__place_city_type" name="general[addresses][][place_city_type]" data-inp-act="hidden,unclear">
						<option value="" selected="" disabled="">Тип населенного пункту</option>
						<option value="nodata">Немає данних</option>
						<option value="city">Місто</option>
						<option value="pgt">ПГТ</option>
						<option value="village">Село</option>
					</select>
				</div>
				<div class="l-weiss-form__item l-weiss-form__item_lined">
					<label for="general__place_address" class="i-wai">Решта адреси</label>
					<input type="text" id="general__place_address" name="general[addresses][][place_address]" placeholder="Решта адреси" minlength="2" data-inp-act="hidden,unclear" />
				</div>
				<div class="l-weiss-form__item">
					<%= partial("partials/blocks/block_clone", :locals => {:width => 'weiss-btn_w-30'}) %>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div class="l-weiss-form__row">
			<legend class="l-weiss-form__item weiss-form__label">
				<span>3. Посада:</span>
			</legend>
			<div class="l-weiss-form__item l-weiss-form__item_w-p88 l-weiss-form__item_lined">
				<label for="general__post_post" class="i-wai">Посада</label>
				<input type="text" id="general__post_post" name="general[post][post]" placeholder="Посада" minlength="2" data-inp-act="hidden,unclear" />
			</div>
		</div>
		<div class="l-weiss-form__row">
			<legend class="l-weiss-form__item weiss-form__label">
				<span>Претендент:</span>
			</legend>
			<div class="l-weiss-form__item">
				<label for="general__post_candidate" class="i-wai">Претендент</label>
				<input type="checkbox" id="general__post_candidate" name="general[post][candidate]" value="1" />
			</div>
		</div>
		<div class="l-weiss-form__row">
			<div class="l-weiss-form__item l-weiss-form__item_w-p50 l-weiss-form__item_lined">
				<label for="general__post_region" class="i-wai">Область</label>
				<select id="general__post_region" name="general[post][region]" data-inp-act="hidden,unclear">
					<option value="unspecified" selected="" disabled="">Область</option>
					<option value="nodata">Немає данних</option>
					<% data.regions.region.each do |option| %>
					<option value="<%= option.value %>"><%= option.name %></option>
					<% end %>
				</select>
			</div>
			<div class="l-weiss-form__item l-weiss-form__item_w-p50 l-weiss-form__item_lined">
				<label for="general__post_office" class="i-wai">Відомство</label>
				<input type="text" id="general__post_office" name="general[post][office]" placeholder="Відомство" data-inp-act="hidden,unclear" />
			</div>
		</div>
		<p class="l-weiss-form__item declaration-small-note">
			Запишіть посаду так, як її вказав декларант (повністю). Додатково у полі «Відомство» оберіть відомство. Список містить лише основні органи влади, яким підпорядковуються решта структур, установ та підприємств. У випадку, якщо ви не знаєте, кому підпорядковується відомство вашого декларанта - перегляньте <a href="https://docs.google.com/spreadsheets/d/13bn_WPAAE2bxwWXnSk2pH5hVA596hcJZn0ZTlPUfEzE/edit?usp=sharing" target="_blank">«Структуру органів державної влади»</a>, або погугліть. Якщо нічого не допомогло - вводіть що бачите в посаді. У полі «Область» оберіть область, у якій знаходиться відомство (якщо це зрозуміло із назви), або Загальнодержавний округ, якщо це центральний орган влади. Увага Міністерства та центральні відомства хоч і знаходяться в Києві є Загальнодержавними.
		</p>
	</fieldset>

	<fieldset class="weiss-form__set">
		<legend class="weiss-form__set-legend">
			<span>4. Члени сім’ї декларанта:</span>
		</legend>
		<table class="weiss-table weiss-table_decl">
			<colgroup>
				<col width="200" />
				<col />
				<col width="200" />
				<col width="30" />
			</colgroup>
			<thead>
				<tr>
					<th>
						Ступінь зв’язку
					</th>
					<th>
						ПІБ, дата народження
					</th>
					<th>
						Реєстраційний номер облікової картки платника податків/ серія та номер паспорта громадянина України (якщо вказано)
					</th>
					<th class="weiss-table__cell_bd-l">
						&nbsp;
					</th>
				</tr>
			</thead>
			<tbody class="js-clone-wrapper">
				<tr class="js-toclone">
					<td>
						<div class="l-weiss-form__row js-related-control">
							<select id="general__family__relations" name="general[family][][relations]" data-inp-act="hidden,unclear">
								<option value="unspecified" selected="" disabled="">Ступінь зв’язку</option>
								<option value="nodata">Немає данних</option>
								<option value="spouse">Подружжя</option>
								<option value="parents">Батькі</option>
								<option value="children">Дитина</option>
								<option value="other">Інше</option>
							</select>
						</div>
						<div class="l-weiss-form__row js-related-section">
							<input type="text" name="general[family][][relations_other]" placeholder="Iнший тип зв’язку" minlength="2" />
						</div>
						<p class="declaration-small-note js-clone-ignore">
							Оберіть ступінь зв’язку члена сім’ї декларанта зі списку. Якщо вказано іншого члена сім’ї, оберіть &laquo;Інше&raquo; і впишить в поле &laquo;Інший тип зв’язку&raquo; нижче. Додати ще члена сім’ї можна, натиснувши на кнопку &laquo;+&raquo; справа
						</p>
					</td>
					<td>
						<div class="l-weiss-form__row">
							<textarea id="general__family__name" name="general[family][][name]" placeholder="Прізвище ініціали, дата народження" minlength="2" data-inp-act="hidden,unclear"></textarea>
							<p class="declaration-small-note js-clone-ignore">Ви можите збільшити це поле потягнувши за правий нижній кут.</p>
						</div>
					</td>
					<td>
						<div class="l-weiss-form__row">
							<input type="text" id="general__family__inn" name="general[family][][inn]" placeholder="ІНН / № Паспорта" minlength="8" maxlength="10" data-inp-act="hidden,unclear" />
						</div>
					</td>
					<td class="weiss-table__cell_bd-l">
						<%= partial("partials/blocks/block_clone", :locals => {:width => 'weiss-btn_w-30'}) %>
					</td>
				</tr>
			</tbody>
		</table>


	</fieldset>


</fieldset>

