
<fieldset class="weiss-form__set weiss-form__set_main weiss-form__set_paper">
	<legend class="weiss-form__set-legend weiss-form__set-legend_main">
		<span>Розділ III Відомості про нерухоме майно</span>
	</legend>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col />
			<col />
			<col />
			<col width="200" />
			<col width="150" />
			<col width="150" />
			<col width="30" />
		</colgroup>
		<caption>
			А. Майно, що перебуває у власності, в оренді чи на іншому праві користування декларанта
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік об’єктів
				</th>
				<th rowspan="2">
					Місце знаходження об’єкта (країна, адреса)
				</th>
				<th rowspan="2">
					Загальна площа (кв. м)
				</th>
				<th colspan="2">
					Сума витрат (грн) на
				</th>
				<th rowspan="2" class="weiss-table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					придбання у власність
				</th>
				<th>
					оренду чи на інше право користування
				</th>
			</tr>
		</thead>
		<% data.estate.fields.each_with_index do |field, index| %>
		<tbody class="js-clone-wrapper">
			<tr class="js-toclone">
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<span class="js-clone-ignore">
						<%= field.number %>.
					</span>
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<select id="estate__<%= field.number %>__region" name="estate[<%= field.number %>][][region]" data-inp-act="hidden,unclear">
							<option value="unspecified" selected="" disabled="">Місцезнаходження об’єкта</option>
							<option value="nodata">Немає данних</option>
							<% data.regions.region.each do |option| %>
								<option value="<%= option.value %>"><%= option.name %></option>
							<% end %>
						</select>
					</div>
					<div class="l-weiss-form__row">
						<textarea id="estate__<%= field.number %>__address" name="estate[<%= field.number %>][][address]" placeholder="Адреса/Коментар" minlength="2" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="estate__<%= field.number %>__space" name="estate[<%= field.number %>][][space]" placeholder="Площа" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<select id="estate__<%= field.number %>__space_units" name="estate[<%= field.number %>][][space_units]" data-inp-act="hidden,unclear">
							<option value="meters" selected="">м3</option>
							<option value="gectars">га</option>
							<option value="sotok">соток</option>
							<option value="nodata">Немає данних</option>
						</select>
						<% if (index == 0) %>
							<p class="small-note js-clone-ignore">
								Якщо одиниці вимірювання не вказані, беремо, що це м<sup>3</sup><br/>
								Якщо площа вказана в інших одиницях вимірювання &mdash; не треба їх переводити, просто виберіть використану зі списку.
							</p>
						<% end %>
					</div>
					<div class="l-weiss-form__row">
						<textarea id="estate__<%= field.number %>__space_comment" name="estate[<%= field.number %>][][space_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
						<% if (index == 0) %>
							<p class="small-note js-clone-ignore">
								Сюди записуються доповненя типу &laquo;спадщина&raquo;, &laquo;½ частина та інше&raquo;. <br />
								Якщо вказано, наприклад, &laquo;20 м - ½ від 40 м.&raquo;, то у полі площі вводимо 20 метрів, а у коментарі записуємо 20 м. - ½ від 40 м. <br />
								Якщо вказано &laquo;0,5 га + 0,3 га + 0,2 га&raquo;, то треба рознести це по трьом різним пунктам (буде 3 ділянки).
							</p>
						<% end %>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="estate__<%= field.number %>__costs" name="estate[<%= field.number %>][][costs]" placeholder="Сума витрат (власність)" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form_row">
						<textarea id="estate__<%= field.number %>__costs_comment" name="estate[<%= field.number %>][][costs_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="estate__<%= field.number %>__costs_rent" name="estate[<%= field.number %>][][costs_rent]" minlength="2" placeholder="Сума витрат (оренда)" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form_row">
						<textarea id="estate__<%= field.number %>__costs_rent_comment" name="estate[<%= field.number %>][][costs_rent_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td class="weiss-table__cell_bd-l">
					<%= partial("partials/blocks/block_clone", :locals => {:width => 'btn_fullwidth'}) %>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>

	<table class="weiss-table weiss-table_decl">
		<colgroup>
			<col />
			<col />
			<col />
			<col width="150" />
			<col width="150" />
			<col width="150" />
			<col width="30" />
		</colgroup>
		<caption>
			Б. Майно, що перебуває у власності, в оренді чи на іншому праві користування сім’ї декларанта
		</caption>
		<thead>
			<tr>
				<th rowspan="2" class="weiss-table__cell_bd-r">
					<span class="i-wai">
						№
					</span>
				</th>
				<th rowspan="2">
					Перелік об’єктів
				</th>
				<th rowspan="2">
					Місце знаходження об’єкта (країна, адреса)
				</th>
				<th rowspan="2">
					Загальна площа (кв. м)
				</th>
				<th colspan="2">
					Сума витрат (грн) на
				</th>
				<th rowspan="2" class="weiss-table__cell_bd-l">
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					придбання
					у власність
				</th>
				<th>
					оренду чи на інше
					право користування
				</th>
			</tr>
		</thead>
		<% data.estateB.fields.each_with_index do |field, index| %>
		<tbody class="js-clone-wrapper">
			<tr class="js-toclone">
				<td class="weiss-table__cell_bd-r weiss-table__psdo-th">
					<span class="js-clone-ignore">
						<%= field.number %>.
					</span>
				</td>
				<th class="weiss-table__cell_fwn">
					<%= field.name %>
				</th>
				<td>
					<div class="l-weiss-form__row">
						<select id="estate__<%= field.number %>__region" name="estate[<%= field.number %>][][region]" data-inp-act="hidden,unclear">
							<option value="unspecified" selected="" disabled="">Місцезнаходження об’єкта</option>
							<option value="nodata">Немає данних</option>
							<% data.regions.region.each do |option| %>
								<option value="<%= option.value %>"><%= option.name %></option>
							<% end %>
						</select>
					</div>
					<div class="l-weiss-form__row">
						<textarea id="estate__<%= field.number %>__address" name="estate[<%= field.number %>][][address]" placeholder="Адреса/Коментар" minlength="2" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="estate__<%= field.number %>__space" name="estate[<%= field.number %>][][space]" placeholder="Площа" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-weiss-form__row">
						<select id="estate__<%= field.number %>__space_units" name="estate[<%= field.number %>][][space_units]" data-inp-act="hidden,unclear">
							<option value="meters" selected="">м3</option>
							<option value="gectars">га</option>
							<option value="sotok">соток</option>
							<option value="nodata">Немає данних</option>
						</select>
						<% if (index == 0) %>
							<p class="small-note js-clone-ignore">
								Якщо одиниці вимірювання не вказані, беремо, що це м<sup>3</sup><br/>
								Якщо площа вказана в інших одиницях вимірювання &mdash; не треба їх переводити, просто виберіть використану зі списку.
							</p>
						<% end %>
					</div>
					<div class="l-weiss-form__row">
						<textarea id="estate__<%= field.number %>__space_comment" name="estate[<%= field.number %>][][space_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
						<% if (index == 0) %>
							<p class="small-note js-clone-ignore">
								Сюди записуються доповненя типу &laquo;спадщина&raquo;, &laquo;½ частина та інше&raquo;. <br />
								Якщо вказано, наприклад, &laquo;20 м - ½ від 40 м.&raquo;, то у полі площі вводимо 20 метрів, а у коментарі записуємо 20 м. - ½ від 40 м. <br />
								Якщо вказано &laquo;0,5 га + 0,3 га + 0,2 га&raquo;, то треба рознести це по трьом різним пунктам (буде 3 ділянки).
							</p>
						<% end %>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="estate__<%= field.number %>__costs_property" name="estate[<%= field.number %>][][costs_property]" placeholder="Сума витрат (власність)" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form_row">
						<textarea type="text" id="estate__<%= field.number %>__costs_property_comment" name="estate[<%= field.number %>][][costs_property_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td>
					<div class="l-weiss-form__row">
						<input class="js-is-DigitsOnly" type="text" id="estate__<%= field.number %>__costs_rent" name="estate[<%= field.number %>][][costs_rent]" placeholder="Сума витрат (оренда)" minlength="2" data-inp-act="hidden,unclear" />
					</div>
					<div class="l-form_row">
						<textarea id="estate__<%= field.number %>__costs_rent_comment" name="estate[<%= field.number %>][][costs_rent_comment]" placeholder="Коментар" data-inp-act="hidden,unclear"></textarea>
					</div>
				</td>
				<td class="weiss-table__cell_bd-l">
					<%= partial("partials/blocks/block_clone", :locals => {:width => 'btn_fullwidth'}) %>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>


</fieldset>

